/* html, body {
    background-color: mediumblue;
} */

/* .row {
    background-color: mediumblue;
} */

/* #main {
    background-color: rgba(0, 0, 205, 0.774);
} */

#root { 
    background-color: rgba(0, 0, 205, 0.836);
}